<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/home_stylesheet.css') }}">
<title>Phil @ Teoma</title>
</div>
<div class="buffer top">
</div>
<div class="buffer left">
</div>
<div class="box">
<div onclick="location.href='noblehq';" class="div topLeft">
  <h3 class="text topLeft" align="center">GAME</h3>
</div>
<div onclick="location.href='wiki_in_the_valley_o';" class="div topRight">
  <h3 class="text topRight" align="center">FOLK</h3>
</div>
<div class="middleDiv">
</div>
<div class="div bottomLeft">
  <h3 class="text bottomLeft" align="center">SELF</h3>
</div>
<div onclick="location.href='blank';" class="div bottomRight">
  <h3 class="text bottomRight" align="center">BLANK</h3>
</div>
</div>
<div class="buffer right">
</div>
