body {
  background: black;
}

.buffer {
}

.top {
  width: 10vw;
  height: 25vh;
}

.left {
  display: inline-block;
  height: 30vh;
  width: 25vw;
}

.box {
  display: inline-block;
  width: 50vw;
  height: 50vh;
}

.div {
  display: inline-block;
  cursor: pointer;
  border: 5px solid red;
  height: 45%;
  width: 45%;
}

.text {
  font-size: 175%;
  margin-top: 20%;
  color: white;
}

.middleDiv {
  width: 98%;
  height: 2%;
}
